<% title "New Order" %>

<% form_for @order do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :cart_id %><br />
    <%= f.text_field :cart_id %>
  </p>
  <p>
    <%= f.label :ip_address %><br />
    <%= f.text_field :ip_address %>
  </p>
  <p>
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </p>
  <p>
    <%= f.label :cart_type %><br />
    <%= f.text_field :cart_type %>
  </p>
  <p>
    <%= f.label :card_espires_on %><br />
    <%= f.date_select :card_espires_on %>
  </p>
  <p><%= f.submit %></p>
<% end %>


