<% title "Order" %>

<p>
  <strong>Cart:</strong>
  <%=h @order.cart_id %>
</p>
<p>
  <strong>Ip Address:</strong>
  <%=h @order.ip_address %>
</p>
<p>
  <strong>First Name:</strong>
  <%=h @order.first_name %>
</p>
<p>
  <strong>Last Name:</strong>
  <%=h @order.last_name %>
</p>
<p>
  <strong>Cart Type:</strong>
  <%=h @order.cart_type %>
</p>
<p>
  <strong>Card Espires On:</strong>
  <%=h @order.card_espires_on %>
</p>

<p>
</p>
