<p>
	<%= f.label :name, "Promotion Name"%><br />
	<%= f.text_field :name %>
</p>
<p>
  <%= f.label :description , "Brief Description"%><br />
  <%= f.text_field :description, :size => 40 %>
</p>

<table class="products">
	<tr>
		<td>
		<b><%= f.label :start, "Start"  %></b><br />
		<%= f.datetime_select :start , :order => [:day,:month,:year]%></td>
		<td></td>
		<td>
		<b><%= f.label :end , "End" %></b><br />
		<%= f.datetime_select :end , :order => [:day,:month,:year]%></td>
	</tr>

	<tr>
		<td>
			 <b><%= f.label :code %></b><br />
			 <%= f.text_field :code %>
		</td>
		<td>
			<b><%= f.label :discount_type %></b><br />
			<%=
				f.select(
					:discount_type, 
					Promotion::TYPES, 
					{ :include_blank => false }
				)
			%>
		</td>
		<td>  
			<b><%= f.label :discount_amount %></b><br />
			<%= f.text_field :discount_amount %>
		</td>
	</tr>
</table>

<p>
	<%= f.label :minimum_cart_value , "Minimum Cart Value for this Promotion (not required)"%><br />
	<%= f.text_field :minimum_cart_value , :size => 5%>
</p>

<p>
	  <%= f.label :product_id, "Attach this promotion to the items..." %><br />
	  <%= render :partial => 'attached_products', :locals => {:name => "promotion", :object => @promotion }%>
</p>

<p>
	<%= f.label :active, "Activate" %><br />
	<%= f.check_box :active%>
</p>

