<p>
	<%= f.label :name, "Promotion Name"%><br />
	<%= f.text_field :name %>
</p>
<p>
  <%= f.label :description , "Brief Description"%><br />
  <%= f.text_field :description, :size => 40 %>
</p>

<table class="products">
	<tr>
		<td>
		<b><%= f.label :start, "Start"  %></b><br />
		<%= f.datetime_select :start , :order => [:day,:month,:year]%></td>
		<td></td>
		<td>
		<b><%= f.label :end , "End" %></b><br />
		<%= f.datetime_select :end , :order => [:day,:month,:year]%></td>
	</tr>

	<tr>
		<td>
			 <b><%= f.label :code %></b><br />
			 <%= f.text_field :code %>
		</td>
		<td>
			<b><%= f.label :discount_type %></b><br />
			<%=
				f.select(
					:discount_type, 
					Promotion::TYPES, 
					{ :include_blank => false }
				)
			%>
		</td>
		<td>  
			<b><%= f.label :discount_amount %></b><br />
			<%= f.text_field :discount_amount %> 
			
		</td>
		<tr>
			<td colspan="2">
			</td>
			<td>
				<span class="info">Converted to percentage in 'Percent of total order' and in an actual price for 'Buy x pay y'. Doesn't have any function in the other cases</span>
			</td>
		</tr>
	</tr>
</table>

<p>
	<b><%= f.label :minimum_cart_value , "Minimum Cart Value for this Promotion"%></b><br />
	<%= f.text_field :minimum_cart_value , :size => 5%>
</p>

<p>
	  <b><%= f.label :product_id, "Attach this promotion to the items..." %></b><br />
	  <%= render :partial => 'attached_products', :locals => {:name => "promotion", :object => @promotion }%>
</p>

<p>
	<b><%= f.label :active, "Activate" %></b><br />
	<%= f.check_box :active%>
</p>

