<h1>Listing promotions</h1>

<table class="products">
	<colgroup>
		<col width="100px" />
	</colgroup>
  <tr>
    <th>Code</th>
	<th>Name</th>
    <th>Description</th>
  </tr>
<% if @promotions.length > 0 %>
	<% @promotions.each do |promotion| %>
	  <tr>
	    <td><%=h promotion.code %></td>
		<td><%=link_to h(promotion.name), promotion %>
	    <td><%=h promotion.description %></td>
	<% if can? :manage, promotion %>
	    <td><%= link_to 'Edit', edit_promotion_path(promotion) %></td>
	    <td><%= link_to 'Destroy', promotion, :confirm => 'Are you sure?', :method => :delete %></td>
	<% end %>
	  </tr>
	<% end %>
<% else %>
  <tr><td colspan="3">Actually there are no active promotions now!</td></tr>
<% end %>
</table>

<br />

<%= link_to 'New promotion', new_promotion_path %>